#a) 配置文件中包含一个或多个 section， 每个 section 有自己的 option；
#b) section 用 [sect_name] 表示，每个option是一个键值对，使用分隔符 = 或 : 隔开；
#c) 在 option 分隔符两端的空格会被忽略掉
#d) 配置文件使用 # 和 ; 注释
#关键字conf、software、ip、language、workhome、nicadpath、start、end、giturl勿动
#giturl用双引号引起来，例如"git@github.com:mirror/make.git"

[codeclone]
software=make
ip=localhost
language=c
workhome=/home/geguangshuai/workspace/CodeClone
nicadpath=/home/geguangshuai/NiCad-4.0
start=2001
end=2050
giturl="git@github.com:mirror/make.git"
to_addr=ggs_1990@163.com
